table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

thead, tfoot{
    background-color: grey;
}

.spring{
    background-color: green;
}

.summer{
    background-color: red;
}

.autumn{
    background-color: yellow;
}