/* Цвета на глаз выбирал) */
body{
    background-color: rgb(216, 210, 210);
}

h1{
    color: rgb(110, 78, 20);
}

h2{
    color: black;
}

h3{
    color: rgb(153, 122, 30);
}

a{
    color: green;
}